spring:
  application:
    name: book-collecting-worker

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    properties:
      security.protocol: SASL_PLAINTEXT
      sasl.mechanism: SCRAM-SHA-256
      sasl.jaas.config: 'org.apache.kafka.common.security.scram.ScramLoginModule required username="${KAFKA_SASL_USERNAME}" password="${KAFKA_SASL_PASSWORD}";'
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

naver:
  book:
    base-url: https://openapi.naver.com
    client-id: ${NAVER_BOOK_CLIENT_ID}
    client-secret: ${NAVER_BOOK_CLIENT_SECRET}
  search:
    display: 100           # 1요청당 최대 100 (API 한번 호출 당 몇권씩 가져올래?)
    max-start: 1000        # 풀스캔용 상한 (1000이 넘어가면 나오지 않는다. ex: start가 999면 2권만 출력)
    daily-max-start: 301   # 일일 스캔용 상한
    sort: date             # 또는 sim
    request-interval-ms: 300   # 네이버 API 호출 간 최소 지연(ms)
  kafka:
    topic: book.raw
